# Production API URL: https://api.hfaportal.company/api/v1
# Local Development API URL: http://localhost:3001/api/v1 (or http://localhost:3002/api/v1)

VITE_API_URL=https://api.hfaportal.company/api/v1
